.cart-page {
    background-color: #fff;

    .top-nav-sec {
        background-color: #44A79B;
        padding: 15px 0px;
        color: #fff;
        text-align: center;

        h3 {
            font-weight: 500 !important;
            font-size: 25px;
            line-height: 36px;
        }

        .path {
            font-size: 14px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            a {
                color: #fff;

                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }

    .content {
        .empty-wrapper {
            padding: 80px 0px;
            color: #212529;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            background-color: #F5F5F5;
            margin-bottom: 30px;

            p {
                margin: 0px;
            }

            .continue-shopping {
                line-height: 27px;
                font-size: 18px;
                font-weight: 700;
            }
        }

        .content-wrapper {
            .heading {
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                color: #212529;
            }

            .details-table {
                color: #212529;

                tbody {
                    line-height: 21px;
                    font-size: 14px;

                    td {
                        vertical-align: middle;

                        a {
                            color: #212529 !important;

                            &:hover {
                                text-decoration: underline !important;
                            }
                        }
                    }
                }

                .item-col {
                    display: flex;
                    gap: 8px;
                    align-items: center;

                    .image {
                        width: 50px;

                        img {
                            width: 100%;
                        }
                    }
                }

                .price-col {
                    display: flex;
                    flex-direction: column;

                    .price-before-dicount {
                        font-size: 12px;
                        color: #b5b5b5;
                        line-height: 18px;
                        text-decoration: line-through;
                    }
                }

                .qty-btn {
                    display: flex;

                    button {
                        width: 35px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #F1F1F1;
                        border: 0;
                        color: #000;

                        &:hover {
                            background-color: #44A79B;
                        }
                    }

                    div {
                        width: 35px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #F1F1F1;
                        border: 0;
                        color: #000;
                        cursor: default;
                    }
                }

                button.btn.btn-secondary.btn-sm {
                    border-radius: 50% !important;
                    padding: 4px !important;
                    display: flex !important;
                    align-items: center !important;
                    justify-content: center !important;
                }
            }

            .bottom-wrapper {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;

                .continue-shopping {
                    line-height: 27px;
                    font-size: 18px;
                    font-weight: 700;
                }

                .price-details-wrapper {
                    background-color: #dbf6f1;
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    -ms-border-radius: 15px;
                    -o-border-radius: 15px;
                    padding: 20px 30px;
                    min-width: 300px;

                    .price-heading {
                        color: #212529;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 27px;
                    }

                    .price-details {
                        font-weight: 600;
                        color: #212529;
                        font-size: 14px;
                        line-height: 21px;
                        margin: 20px 0px;
                        display: flex;
                        justify-content: space-between;
                    }

                    button {
                        background-color: #2649A7;
                        width: 100%;
                        padding: 10px 20px;
                        border: 0px;
                        color: #ffffff;
                        font-size: 14px;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;

                        &:hover {
                            background-color: #133182;
                        }
                    }
                }
            }
        }

    }

    //common
    .section {
        padding: 20px;

        @media (min-width:768px) {
            padding: 30px 40px;
        }

        @media (min-width:1200px) {
            padding: 40px 60px;
        }

        @media (min-width:1440px) {
            padding-left: 0px;
            padding-right: 0px;
            max-width: 1280px;
            margin: 0px auto;
        }
    }

    .details-card {
        display: none;
    }

    @media (max-width: 800px) {
        .table-responsive {
            display: none;
        }

        .details-card {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;

            .card-wrapper {
                display: flex;
                gap: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #eee;
                justify-content: space-between;
            }

            .first-col {
                display: flex;
                gap: 20px;
            }

            a {
                color: #212529 !important;

                &:hover {
                    text-decoration: underline !important;
                }
            }

            .image {
                width: 120px;
                @media (max-width:460px) {
                    width: 50px;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .price-col {
                display: flex;
                flex-direction: column;

                .price-before-dicount {
                    font-size: 12px;
                    color: #b5b5b5;
                    line-height: 18px;
                    text-decoration: line-through;
                }
            }

            .qty-btn {
                display: flex;

                button {
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #F1F1F1;
                    border: 0;
                    color: #000;

                    &:hover {
                        background-color: #44A79B;
                    }
                }

                div {
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #F1F1F1;
                    border: 0;
                    color: #000;
                    cursor: default;
                }
            }

            button.btn.btn-secondary.btn-sm {
                border-radius: 50% !important;
                padding: 4px !important;
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
            }
        }

        .right-card {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    
        .category-wrapper {
            font-style: italic;
            display: flex;
            gap: 5px;
        }
    
        .price-wrapper {
            display: flex;
            gap: 10px;
    
            .old-price {
                color: #b5b5b5;
                text-decoration: line-through;
            }
        }
    
        .total-wraper {
            display: flex;
            gap: 10px;
        }
    
        .bottom-wrapper {
            display: flex !important;
            flex-direction: column-reverse;
            gap: 20px;
            justify-content: center;
            text-align: center;
            max-width: 540px;
            margin: 0px auto;
        }
    
    }

}